.row.comment-box
    .col-sm-12
        - var url = '/comment'+type+'/'+article._id;
        form#comment-form(accept-charset='UTF-8', action=url, method='POST')
            textarea#text.form-control(name='comments', placeholder='Type in your message', rows='5')
            h6#count_message.pull-right
            button.btn.btn-info(type='submit') Post New Message