<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Errors
    link(rel="stylesheet" href="/static/css/page-not-found.css")
body
    div.container
        div.row
            div.col-md-12
                div.error-template
                    h1 Oops!
                    h2 404 Not Found
                    div.error-details Sorry, an error occured, Requested page not found!
                    div.error-action 
                        a.btn.btn-primary(href="/", role="button")
                            button.btn.btn-success(role="button")
                                | Take Me Home