body {
    background: #eee;
}

.content-item {
    padding: 30px 0;
    background-color: lightgrey;
    padding: 50px 0;
    height: 100%;
    opacity: 0.88;
}

.content-item h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 45px;
    text-transform: uppercase;
    word-wrap: break-word;
}

.content-item h3 {
    font-weight: 400;
    font-size: 20px;
    color: #555555;
    margin: 10px 0 15px;
    padding: 0;
}

.content-headline {
    height: 1px;
    text-align: center;
    margin: 20px 0 70px;
}

.content-headline h2 {
    background-color: #FFFFFF;
    display: inline-block;
    margin: -20px auto 0;
    padding: 0 20px;
}

.content-headline h3 {
    font-size: 14px;
    color: #AAAAAA;
    display: block;
}

ul.article-tags li {
    padding: 7px 0;
}

div ul.article-tags li i, div .box.tags ul li i {
    color: #FFFFFF;
    position: relative;
    top: 1px;
    font-size: 14px;
}

.article p img.pull-left {
    margin-right: 15px;
}

.article p img {
    max-width: 300px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.comment-box {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px
}

.comment-box #comment-form #text {
    color: black;
    background-color:lightgray;
}

#text {
    resize: none;
    margin-bottom:5px;
}