mixin list-articles(params)
    .col-sm-3
        .news
            .img-figure
                .cat Platformer
                img.img-responsive(src="http://sm.ign.com/t/ign_in/cover/o/ori-and-the-blind-forest/ori-and-the-blind-forest_182d.640.jpg")
            .title
                h1 Ori And The Blind Forest relases second edition
            p.description
                | This is the best game created ever..
            p.more
                a(href="#") read more
                i.fa.fa-angle-right(aria-hidden="true")

mixin delete-that-mixin-later(params)
    .col-sm-3
        .news
            .img-figure
                .cat Puzzle-platformer
                img.img-responsive(src="https://ninjafoxgames.files.wordpress.com/2015/02/never-alone-cover-image.jpg")
            .title
                h1 Reviews of the indie game Never Alone
            p.description
                | It has really cool story!!! Recommended!
            p.more
                a(href="#") read more
                i.fa.fa-angle-right(aria-hidden="true")

mixin delete-this-too(params)
    .col-sm-3
        .news
            .img-figure
                .cat Platformer
                img.img-responsive(src="http://cdn.mos.cms.futurecdn.net/6575c3baefa5dd8935b290fa332b0994.jpg")
            .title
                h1 How not to stuck often while playing Limbo..primerno
            p.description
                | Old, but good game
            p.more
                a(href="#") read more
                i.fa.fa-angle-right(aria-hidden="true")