mixin list-articles(params)
    .col-sm-4
        .news
            .img-figure
                .cat fashion
                img.img-responsive(src='http://sm.ign.com/t/ign_in/cover/o/ori-and-the-blind-forest/ori-and-the-blind-forest_182d.640.jpg')
            .title
                h1 The start of the web and web design
            p.description
                | If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden...
            p.more
                a(href='#') read more
                i.fa.fa-angle-right(aria-hidden='true')

mixin delete-that-mixin-later(params)
    .col-sm-4
        .news
            .img-figure
                .cat fashion
                img.img-responsive(src='http://images.nintendolife.com/games/wiiu-eshop/never_alone/cover_medium.jpg')
            .title
                h1 The start of the web and web design
            p.description
                | If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden...
            p.more
                a(href='#') read more
                i.fa.fa-angle-right(aria-hidden='true')

mixin delete-this-too(params)
    .col-sm-4
        .news
            .img-figure
                .cat fashion
                img.img-responsive(src='https://s-media-cache-ak0.pinimg.com/originals/f8/78/f2/f878f26dca3c89741ad3f2ae9c91b9c1.jpg')
            .title
                h1 The start of the web and web design
            p.description
                | If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden...
            p.more
                a(href='#') read more
                i.fa.fa-angle-right(aria-hidden='true')


mixin article-generator(article)
    .row
        .col-md-10
            .row
                .col-md-12
                    .well.blog
                        a(href='/news:id')
                            .date.primary
                            - var date = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][article.createdAt.getMonth()]
                                span.blog-date date
                                span.blog-number article.createdAt.getDay()
                            .row
                                .col-md-6
                                    .image
                                        img(src=article.img, alt='')
                                .col-md-6
                                    .blog-details
                                        h2 Post title 1
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique libero et est iaculis, id placerat nisi luctus.
                                            | Aenean volutpat risus non fermentum feugiat. Etiam facilisis arcu ante, sed molestie diam mollis vel...
        .col-md-2
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue posuere finibus. Vivamus sit amet ultrices lacus.
                | In hac habitasse platea dictumst. Nulla odio purus, sodales sit amet venenatis a, cursus vel arcu. Vestibulum tincidunt,
                | erat sit amet ornare commodo, ligula magna blandit tortor, at porttitor nulla elit eu lacus. Aliquam odio turpis, cursus
                | at ornare eget, porttitor eget leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et sapien fermentum,
                | tempor orci id, hendrerit mauris. Curabitur sagittis euismod porta. Phasellus luctus pulvinar augue ac tristique. Phasellus
                | quam velit, dictum at scelerisque et, iaculis id lorem. Aliquam urna turpis, porta at luctus non, pretium at nisl. Fusce
                | posuere, ante ut sodales pharetra, lorem risus accumsan orci, at ultrices nulla magna in tortor. Nunc auctor nisi quis
                | fermentum suscipit. Etiam pellentesque varius nibh ac finibus. Nunc aliquam dui mollis euismod faucibus. Vestibulum
                | ultricies in ante vitae facilisis. Nunc condimentum, sapien sed congue porttitor, enim lorem finibus felis, nec cursus
                | felis justo id justo. Donec turpis leo, mattis id ante quis, faucibus iaculis lacus. Donec ultrices ornare eros, id
                | cursus mi aliquam convallis. In bibendum, tellus ac ultricies consectetur, nibh tortor rhoncus purus, vel dictum urna
                | lorem sed sapien. Donec dui lacus, ullamcorper sit amet placerat vitae, venenatis nec ex. Fusce dapibus lacus vulputate
                | ex eleifend commodo. Pellentesque sit amet eros hendrerit, auctor enim sed, dictum dui. Aliquam id vestibulum lorem,
                | ut aliquet lacus. Suspendisse quis ligula enim. Sed vel rhoncus lacus. Nulla luctus, risus eget tristique convallis,
                | turpis neque rhoncus mauris, vulputate fermentum urna eros vitae odio. Vivamus pharetra enim nunc, id consequat diam
                | ornare ut. Donec ultricies nec augue auctor pulvinar. Nam dapibus in est sit amet interdum. Sed ultricies ante eu lectus
                | finibus pretium. Sed ac ante vitae turpis tincidunt viverra. Ut euismod mi sed condimentum maximus. Nunc turpis odio,
                | pulvinar id semper in, viverra cursus enim. Donec sed ante pulvinar, posuere nisl eu, vestibulum dolor. Maecenas in
                | erat turpis. Fusce sit amet sem congue, semper nulla non, volutpat dui. Nulla et commodo urna. Fusce velit libero, congue
                | in urna eu, tempor efficitur enim. Vestibulum id erat id quam accumsan rhoncus ut nec risus. Praesent et feugiat purus.
                | Etiam egestas, augue sit amet pharetra elementum, nisi ante maximus arcu, in convallis metus velit eu mi. Quisque suscipit
                | libero eu magna finibus malesuada.