extends _layout.pug
include mixins.pug
block styles
    link(rel="stylesheet" href="/static/css/news.css")

block main-content
    .row
        .col-md-10
            each article in articles
                +article-generator(article, type)
            include components/pageing
        .col-md-2
            if true
                a#article-create-btn.btn.btn-success.btn-large.btn-block(href='/create/news') Publish something new
                p
                    | Some bla bla text here. Could be used for some chart/chat/maybe. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue posuere finibus. Vivamus sit amet ultrices lacus.
                    | In hac habitasse platea dictumst. Nulla odio purus, sodales sit amet venenatis a, cursus vel arcu. Vestibulum tincidunt,
                    | erat sit amet ornare commodo, ligula magna blandit tortor, at porttitor nulla elit eu lacus. Aliquam odio turpis, cursus
                    | at ornare eget, porttitor eget leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et sapien fermentum,
                    | tempor orci id, hendrerit mauris. Curabitur sagittis euismod porta. Phasellus luctus pulvinar augue ac tristique. Phasellus
                    | quam velit, dictum at scelerisque et, iaculis id lorem. Aliquam urna turpis, porta at luctus non, pretium at nisl. Fusce
                    | posuere, ante ut sodales pharetra, lorem risus accumsan orci, at ultrices nulla magna in tortor. Nunc auctor nisi quis
                    | fermentum suscipit. Etiam pellentesque varius nibh ac finibus. Nunc aliquam dui mollis euismod faucibus. Vestibulum
                    | ultricies in ante vitae facilisis. Nunc condimentum, sapien sed congue porttitor, enim lorem finibus felis, nec cursus
                    | felis justo id justo. Donec turpis leo, mattis id ante quis, faucibus iaculis lacus. Donec ultrices ornare eros, id
                    | cursus mi aliquam convallis. In bibendum, tellus ac ultricies consectetur, nibh tortor rhoncus purus, vel dictum urna
            else
                p
                    | Some bla bla text here. Could be used for some chart/chat/maybe. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue posuere finibus. Vivamus sit amet ultrices lacus.
                    | In hac habitasse platea dictumst. Nulla odio purus, sodales sit amet venenatis a, cursus vel arcu. Vestibulum tincidunt,
                    | erat sit amet ornare commodo, ligula magna blandit tortor, at porttitor nulla elit eu lacus. Aliquam odio turpis, cursus
                    | at ornare eget, porttitor eget leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et sapien fermentum,
                    | tempor orci id, hendrerit mauris. Curabitur sagittis euismod porta. Phasellus luctus pulvinar augue ac tristique. Phasellus
                    | quam velit, dictum at scelerisque et, iaculis id lorem. Aliquam urna turpis, porta at luctus non, pretium at nisl. Fusce
                    | posuere, ante ut sodales pharetra, lorem risus accumsan orci, at ultrices nulla magna in tortor. Nunc auctor nisi quis
                    | fermentum suscipit. Etiam pellentesque varius nibh ac finibus. Nunc aliquam dui mollis euismod faucibus. Vestibulum
                    | ultricies in ante vitae facilisis. Nunc condimentum, sapien sed congue porttitor, enim lorem finibus felis, nec cursus
                    | felis justo id justo. Donec turpis leo, mattis id ante quis, faucibus iaculis lacus. Donec ultrices ornare eros, id
                    | cursus mi aliquam convallis. In bibendum, tellus ac ultricies consectetur, nibh tortor rhoncus purus, vel dictum urna