extends _layout.pug
include mixins.pug

block styles
    link(rel="stylesheet" href="/static/css/portal.css")

block main-content
    .row
        .col-sm-10
            h2 Latest news
        .col-sm-2
            a.btn.btn-default.pull-right(href="/news") See more
    .row.row-extra-bottom-padding
        each news in firstThreeNews
            +list-articles(news, "/news")
    .row
        .col-sm-10
            h2 Latest reviews
        .col-sm-2
            a.btn.btn-default.pull-right(href="/reviews") See more
    .row.row-extra-bottom-padding
        +delete-that-mixin-later
        +delete-that-mixin-later
        +delete-that-mixin-later
    .row
        .col-sm-10
            h2 Latest guides
        .col-sm-2
            a.btn.btn-default.pull-right(href="/guides") See more
    .row.row-extra-bottom-padding
        +delete-this-too
        +delete-this-too
        +delete-this-too
