extends _layout.pug

block main-content
    .container
        .row
            .col-xs-12.col-sm-6.col-md-6
                .well.well-sm
                    .row
                        .col-sm-6.col-md-4
                            img.img-rounded.img-responsive(src="", alt="")
                        .col-sm-6.col-md-8
                            h4 Username
                            i.glyphicon.glyphicon-envelope 
                                span email@example.com
                            br
                            i.glyphicon.glyphicon-user 
                                span First Name, Last Name
