<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Mushroom Portal
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/static/css/site.css")
        //- for the register/login animation
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body
        #banner.container-fluid
            .row
                .col-md-6
                    img.responsive-img(id="banner" src='/static/images/banner.jpg', alt='Responsive image')
        nav.navbar.navbar-inverse.navbar-static-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .navbar-brand
                        //-img(id="logo" alt="Brand", src="/static/images/logo.png")
                #main-navigation.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="/") Portal
                        li
                            a(href="/news") News
                        li
                            a(href="/reviews") Reviews
                        li
                            a(href="/guides") Guides
                        li
                            a(href="/news/create") Create news
                        li
                            form.navbar-form
                                input.form-control(placeholder="Search", type="text")
                    ul.nav.navbar-nav.navbar-right
                        if currentUser
                            p.navbar-text
                                | Signed in as 
                                a.navbar-link(href="#")= currentUser.username
                            li.dropdown
                                a.dropdown-toggle(href="#", data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                                    span.glyphicon.glyphicon-user
                                    |  Settings 
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(href="/profile")
                                            span.glyphicon.glyphicon-user
                                            | Profile
                                    li
                                        a(href="/settings")
                                            span.glyphicon.glyphicon-cog
                                            | Settings
                                    li.divider
                                      li
                                        a#logout-btn(href="#")
                                            span.glyphicon.glyphicon-cog
                                            | Logout
                        else
                            //-
                            li.dropdown
                                a.dropdown-toggle(data-toggle='dropdown')
                                    | Register 
                                    span.caret
                                ul.dropdown-menu.dropdown-lr.animated.flipInX(role='menu')
                                    .col-lg-12
                                        .text-center
                                            h3
                                                b Register
                                        form#register-form(action='/register', method='post', role='form', autocomplete='off')
                                            .form-group
                                                input#username.form-control(type='text', name='username', tabindex='1', placeholder='Username', value='')
                                            .form-group
                                                input#email.form-control(type='email', name='email', tabindex='1', placeholder='Email Address', value='')
                                            .form-group
                                                input#password.form-control(type='password', name='password', tabindex='2', placeholder='Password')
                                            .form-group
                                                input#confirm-password.form-control(type='password', name='confirmPassword', tabindex='2', placeholder='Confirm Password')
                                            .form-group
                                                input#first-name.form-control(type='text', name='firstName', tabindex='2', placeholder='First Name')
                                            .form-group
                                                input#last-name.form-control(type='text', name='lastName', tabindex='2', placeholder='Last Name ')
                                            .form-group
                                                .row
                                                    .col-xs-6.col-xs-offset-3
                                                        input#register-submit.form-control.btn.btn-info(type='submit', name='register-submit', tabindex='4', value='Register Now')
                                            input#token.hide(type='hidden', name='token', value='This might be used for some validation, if not pls delete')
                            //-
                            //-
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                    | Log In 
                                    span.caret
                                ul.dropdown-menu.dropdown-lr.animated.slideInRight(role='menu')
                                    .col-lg-12
                                        .text-center
                                            h3
                                                b Log In
                                        form#login-form(action='/login', method='post', role='form', autocomplete='off')
                                            .form-group
                                                label(for='username') Username
                                                input#username.form-control(type='text', name='username', tabindex='1', placeholder='Username', value='', autocomplete='off')
                                            .form-group
                                                label(for='password') Password
                                                input#password.form-control(type='password', name='password', tabindex='2', placeholder='Password', autocomplete='off')
                                            .form-group
                                                .row
                                                    .col-xs-7
                                                        input#remember(type='checkbox', tabindex='3', name='remember')
                                                        label(for='remember')  Remember Me
                                                    .col-xs-5.pull-right
                                                        input#login-submit.form-control.btn.btn-success(type='submit', name='login-submit', tabindex='4', value='Log In')
                                            .form-group
                                                .row
                                                    .col-lg-12
                                                        .text-center
                                                            a.forgot-password(href='#', tabindex='5') Forgot Password?
                                            input#token.hide(type='hidden', name='token', value='This might be used for some validation, if not pls delete')
                            //-
                
        block main-content
                    
                        
    