<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Mushroom Portal
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="/static/css/site.css")
    body
        #banner.container-fluid
            .row
                .col-md-6
                    img(id="banner" src='/static/images/banner.jpg', alt='Responsive image')
        nav.navbar.navbar-inverse.navbar-static-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .navbar-brand
                        //-img(id="logo" alt="Brand", src="/static/images/logo.png")
                #main-navigation.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="/") Portal
                        li
                            a(href="/news") News
                        li
                            a(href="/reviews") Reviews
                        li
                            a(href="/guides") Guides
                    ul.nav.navbar-nav.navbar-right
                        li
                            form.navbar-form
                                input.form-control(placeholder="Search", type="text")
                        li
                            a(href="/signup")
                                span.glyphicon.glyphicon-user
                                |  Sign Up
                        li
                            a(href="/login")
                                span.glyphicon.glyphicon-log-in
                                |  Login
                        p.navbar-text
                            | Signed in as 
                            a.navbar-link(href="#") Username
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown")
                                span.glyphicon.glyphicon-user
                                |  Username 
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="/profile")
                                        span.glyphicon.glyphicon-user
                                        | Profile
                                li
                                    a(href="/settings")
                                        span.glyphicon.glyphicon-cog
                                        | Settings
                                li.divider
                                li
                                    a(href="/logout")
                                        span.glyphicon.glyphicon-off
                                        | Logout
            
        block main-content
                    
                        
    