nav.navbar.navbar-inverse.navbar-static-top
        .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            //-.navbar-brand
                //-img(id="logo" alt="Brand", src="/static/images/logo.png")
        #main-navigation.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active
                    a(href="/") Portal
                li
                    a(href="/news") News
                li
                    a(href="/reviews") Reviews
                li
                    a(href="/guides") Guides
                li
                    a(href="/news/create") Create news
                li
                    form.navbar-form
                        input.form-control(placeholder="Search", type="text")
            ul.nav.navbar-nav.navbar-right
                if currentUser
                    p.navbar-text
                        | Signed in as 
                        a.navbar-link(href="#")= currentUser.username
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                            span.glyphicon.glyphicon-user
                            |  Settings 
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/profile")
                                    span.glyphicon.glyphicon-user
                                    | Profile
                            li
                                a(href="/settings")
                                    span.glyphicon.glyphicon-cog
                                    | Settings
                            li.divider
                            li
                                a#logout-btn(href="/logout")
                                    span.glyphicon.glyphicon-cog
                                    | Logout
                else
                    include register.pug
                    include login.pug

block main-content
